<div class="row">
<h3>后台管理 > 查看 <div class="pull-right"><%= link_to '编辑', edit_admin_shouye_path(@shouye) %> |
<%= link_to '返回列表', admin_shouyes_path %></div></h3>
<hr>
<p id="notice"><%= notice %></p>
<table class="table table-striped table-bordered"> 
	<tr>
		<td style="width:200px;text-align:right;">ID:</td>
		<td><%= @shouye.id %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Logo:</td>
		<td><%= @shouye.logo %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Title:</td>
		<td><%= @shouye.title %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Lianxi:</td>
		<td><%= @shouye.lianxi %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Block 1 tit:</td>
		<td><%= @shouye.block_1_tit %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Block 1 cont:</td>
		<td><%= @shouye.block_1_cont %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Block 2 pic 1:</td>
		<td><%= @shouye.block_2_pic_1 %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Block 2 pic 2:</td>
		<td><%= @shouye.block_2_pic_2 %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Block 2 tit:</td>
		<td><%= @shouye.block_2_tit %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Block 2 cont:</td>
		<td><%= @shouye.block_2_cont %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Block 2 link:</td>
		<td><%= @shouye.block_2_link %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Block 3 tit:</td>
		<td><%= @shouye.block_3_tit %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Block 3 cont:</td>
		<td><%= @shouye.block_3_cont %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Block 3 pic:</td>
		<td><%= @shouye.block_3_pic %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Block 3 link:</td>
		<td><%= @shouye.block_3_link %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Block 4 tit:</td>
		<td><%= @shouye.block_4_tit %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Block 4 1 pic:</td>
		<td><%= @shouye.block_4_1_pic %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Block 4 1 tit:</td>
		<td><%= @shouye.block_4_1_tit %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Block 4 1 cont:</td>
		<td><%= @shouye.block_4_1_cont %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Block 4 1 link:</td>
		<td><%= @shouye.block_4_1_link %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Block 4 2 pic:</td>
		<td><%= @shouye.block_4_2_pic %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Block 4 2 tit:</td>
		<td><%= @shouye.block_4_2_tit %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Block 4 2 cont:</td>
		<td><%= @shouye.block_4_2_cont %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Block 4 2 link:</td>
		<td><%= @shouye.block_4_2_link %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Block 4 3 pic:</td>
		<td><%= @shouye.block_4_3_pic %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Block 4 3 tit:</td>
		<td><%= @shouye.block_4_3_tit %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Block 4 3 cont:</td>
		<td><%= @shouye.block_4_3_cont %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Block 4 3 link:</td>
		<td><%= @shouye.block_4_3_link %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Phone:</td>
		<td><%= @shouye.phone %></td>
	</tr>
	</table>
</div>