<%= form_for([:admin, @brochure_destination],:html => {:class => "form-horizontal" }) do |f| %>
  <% if @brochure_destination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brochure_destination.errors.count, "error") %> prohibited this brochure_destination from being saved:</h2>

      <ul>
      <% @brochure_destination.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <label class="control-label">brochure_id</label>
    <div class="controls">
    <%= f.text_field :brochure_id %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">destination_id</label>
    <div class="controls">
    <%= f.text_field :destination_id %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.submit %>
    </div>
  </div>
<% end %>