<div class="row">
<h3>后台管理 > 查看 <div class="pull-right"><%= link_to '编辑', edit_admin_travel_datesprice_path(@travel, @datesprice) %> |
<%= link_to '返回列表', admin_travel_datesprices_path(@travel) %></div></h3>
<hr>
<p id="notice"><%= notice %></p>
<table class="table table-striped table-bordered"> 
	<tr>
		<td style="width:200px;text-align:right;">ID:</td>
		<td><%= @datesprice.id %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Travel:</td>
		<td><%= @datesprice.travel_id %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Start date:</td>
		<td><%= @datesprice.start_date %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">End date:</td>
		<td><%= @datesprice.end_date %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Prices:</td>
		<td><%= @datesprice.prices %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Single supplement:</td>
		<td><%= @datesprice.single_supplement %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Internal airfare:</td>
		<td><%= @datesprice.internal_airfare %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Availability status:</td>
		<td><%= @datesprice.availability_status %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Available people count:</td>
		<td><%= @datesprice.available_people_count %></td>
	</tr>
	</table>
</div>
