<h1>Listing brochure_interests</h1>

<table>
  <tr>
    <th>Brochure</th>
    <th>Interest</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @brochure_interests.each do |brochure_interest| %>
  <tr>
    <td><%= brochure_interest.brochure_id %></td>
    <td><%= brochure_interest.interest_id %></td>
    <td><%= link_to 'Show', brochure_interest %></td>
    <td><%= link_to 'Edit', edit_brochure_interest_path(brochure_interest) %></td>
    <td><%= link_to 'Destroy', brochure_interest, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Brochure interest', new_brochure_interest_path %>