<div class="row">
<h3>后台管理 > 查看 <div class="pull-right"><%= link_to '编辑', edit_admin_travel_itinerary_path(@travel, @itinerary) %> |
<%= link_to '返回列表', admin_itineraries_path %></div></h3>
<hr>
<p id="notice"><%= notice %></p>
<table class="table table-striped table-bordered"> 
	<tr>
		<td style="width:200px;text-align:right;">ID:</td>
		<td><%= @itinerary.id %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Name:</td>
		<td><%= raw(@itinerary.name.gsub(" ", "&nbsp;")) %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Desc:</td>
		<td><%= @itinerary.desc %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Travel:</td>
		<td><%= @itinerary.travel_id %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Sort:</td>
		<td><%= @itinerary.sort %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Hotel:</td>
		<td><%= @itinerary.hotel_id %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Meals:</td>
		<td><%= @itinerary.meals %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Start day num:</td>
		<td><%= @itinerary.start_day_num %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">End day num:</td>
		<td><%= @itinerary.end_day_num %></td>
	</tr>
	</table>
</div>
