<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @specialoffer.title %>
</p>

<p>
  <b>Cont:</b>
  <%= @specialoffer.cont %>
</p>

<p>
  <b>Pic:</b>
  <%= @specialoffer.pic %>
</p>


<%= link_to 'Edit', edit_specialoffer_path(@specialoffer) %> |
<%= link_to 'Back', specialoffers_path %>