<div class="row">
<h3>后台管理 > Interest列表 <div class="pull-right"><%= link_to '创建新Interests', new_admin_interest_path %></div></h3>
<hr>
<table class="table table-striped table-bordered"> 
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Ancestry</th>
    <th>Pdf</th>
    <th>操作</th>
  </tr>

<% @interests.each do |interest| %>
  <tr>
    <td>
      <img src="<%= interest.cover.url %>" width="100"> <br>
      <%= interest.id %>
    </td>
    <td><%= interest.title %></td>
    <td><%= interest.ancestry %></td>
    <td>
      <h5><a href="/admin/interests/<%= interest.id %>/new_brochure_interest">绑定相关Pdf</a></h5>
      <table>
        <tbody>
          <% interest.brochures.each do |brochure| %>
          <tr>
            <td><a href="/admin/brochures/<%= brochure.id %>"><%= brochure.name %></a></td>
            <td><a href="/admin/interests/<%= interest.id %>/destroy_brochure_interest/<%= brochure.id %>">删除</a></td>
            <td></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </td>
    <td>
      <%= link_to '查看', [:admin, interest] %> | 
      <%= link_to '编辑', edit_admin_interest_path(interest) %> | 
      <%= link_to '删除', [:admin, interest], :confirm => '确定要删除么?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>
<%= paginate @interests %>
</div>