<%= form_for([:admin, @specialoffer],:html => {:class => "form-horizontal", :multipart => true }) do |f| %>
  <% if @specialoffer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@specialoffer.errors.count, "error") %> prohibited this specialoffer from being saved:</h2>

      <ul>
      <% @specialoffer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <label class="control-label">cover</label>
    <div class="controls">
    <%= f.file_field :cover %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">title</label>
    <div class="controls">
    <%= f.text_field :title %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">desc</label>
    <div class="controls">
    <%= f.text_area :desc %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">cont</label>
    <div class="controls">
    <%= f.text_area :cont %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.submit %>
    </div>
  </div>
<% end %>