<div class="row">
<h3>后台管理 > 查看 <div class="pull-right"><%= link_to '编辑', edit_admin_brochure_path(@brochure) %> |
<%= link_to '返回列表', admin_brochures_path %></div></h3>
<hr>
<p id="notice"><%= notice %></p>
<table class="table table-striped table-bordered"> 
	<tr>
		<td style="width:200px;text-align:right;">ID:</td>
		<td><%= @brochure.id %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Name:</td>
		<td><%= @brochure.name %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Desc:</td>
		<td><%= @brochure.desc %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Cover:</td>
		<td><%= @brochure.cover %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Doc:</td>
		<td><%= @brochure.doc %></td>
	</tr>
		<tr>
		<td style="width:200px;text-align:right;">Comment:</td>
		<td><%= @brochure.comment %></td>
	</tr>
	</table>
</div>